.GrasspopFoto {
    width: 428px;
}

.Passfoto {
    width: 192px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gamingfoto {
    width: 853px;
}

.paars {
    background-color: #bb6adf
}

.formulier {
    border:2px solid #121212;
    background-color: #158ef1;
    width: 18%;
    padding: 50px;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    padding: 15px;
    color: white;
  }

  @media screen and (max-width: 1000px) {
    .formulier {
      width: 68%;
      background-color: #158ef1;
      padding: 10px;
      border-radius: 20px;
      margin: auto;
    }
  }

.footericons {
    font-size: 28px;
    color: black;
}  

.footericonswit {
    font-size: 28px;
    color: white;
}  

.achtergrond {
    background-image: url(/project2/images/achtergrondcontact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}